

#main-title {
	margin: auto;
	padding: 10px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

#convertors-container {
	display: flex;
	height: 500px;
}

#bin-dec-title, #dec-bin-title {
	color: white;
}

#binary-input, #decimal-input {
	align-self: baseline;
	margin: 0 auto;
	text-align: center;
}

#reset-bin, #reset-dec {
	display: flex;
	text-align: center;
	margin: 15px auto;
	font-family: 'Orbitron';
}

input {
	text-align: center;
}

#bin-output, #decimal-output {
	max-width: 170px;
	margin: auto;
	text-align: center;
	font-family: 'Andale Mono', 'monospace';;
}

p {
	font-size: 1.5em;
	word-break: break-all;
}

#credit {
	display: block;
	text-decoration-line: none;
	font-family: 'Orbitron', sans-serif;
	color: white;
	margin: 80px auto 10px auto;
	text-align: center;
	font-size: 1.2em;
}