

#main-title {
	margin: auto;
	padding: 10px;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}

#convertors-container {
	display: flex;
}

#bin-dec-title, #dec-bin-title {
	color: white;
}

#binary-input, #decimal-input {
	margin: auto;
	padding-top: 10px;
	text-align: center;
}

#reset-bin, #reset-dec {
	display: flex;
	text-align: center;
	margin: 15px auto;
	font-family: 'Orbitron';
}

input {
	text-align: center;
}

#bin-output, #decimal-output {
	margin: auto;
	text-align: center;
	font-family: 'Andale Mono', 'monospace';;
}